/Outils/
./.idea/*.xml
./.idea/*.iml

/CrewAI_equipe_creation_BD_candidats/keys.txt
/.venv/
/.venv_crewai_312/
/CrewAI_equipe_creation_BD_candidats/agentops.log
/AgentAI_creation_BD_recruteurs/keys.txt
